<?php

// Database constanten
define('DB_HOST', 'localhost');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_NAME', 'rocambolesque');

// pad naar app map
define('APPROOT', dirname(dirname(__FILE__)));

// URL van de site
define('URLROOT', 'http://www.rocambolesque.nl');

// site naam
define('SITENAME', 'Rocambolesque');
